@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* background-color: black; */
    /* width: 100%; */
    overflow-x: hidden;
}

.flex-container {
    display: flex;
}

/****************************
*****Feel Special Section****
****************************/

.header-section {
    flex-direction: column;
    background-image: url(/images/hero-bg-mobile.webp);
    padding: 60px 40px 70px;
    justify-content: space-between;
    min-height: 100vh;
}

.fixed-navbar {
    align-items: center;
    justify-content: space-between;
}

.fixed-navbar img {
    width: 40px;
    height: 53px;
}

.fixed-navbar-links {
    display: none;
}

.navbar-btn img{
    height: 32px;
    opacity: 0.9;
}

.hero-container {
    flex-direction: column;
    color:rgb(248, 248, 248);
}

.hero-text {
    font-family: Gilroy-Bold;
    font-size: 55px;
    margin-top: 100px;
    line-height: 50px;
    letter-spacing: -1.5px;
}

.hero-sub-text {
    font-family: Gilroy-SemiBold;
    font-size: 16px;
    margin-top: 35px;
}

.button-download-CRED {
    font-size: 18px;
    margin-top: 35px;
}

/****************************
*******Lotus animation*******
****************************/

.lotus-animation-placeholder {
    min-height: 70%;
    background-image: url(/images/hero-bg-mobile.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.neopop-left-2 {
    height: 170px;
    z-index: 10;
    position: absolute;
    overflow: clip;
    transform: translate(-160, 10%);
}

/****************************
*****Feel Special Section****
****************************/

.feel-special-section, .security-section, .trust-section {
    justify-content: center;
    background-size: cover;
    padding: 195px 40px 90px;
    min-height: 1150px;
    background-position: right center;
    flex-direction: column;
    justify-content: space-between;
  
}

.feel-special-section {
    background-image: url("/images/deserve-more-bg-mobile.webp");
}

.feel-special-text-container {
    flex-direction: column;
}

.feel-special-text-button-container {
    flex-direction: column;
}

.fst-line1, .mm-line1, .s-line1, .trust-main-text {
    font-family: Gilroy-Bold;
    font-size: 100px;
    color:rgb(248, 248, 248);
    opacity: 0.9;

    font-size: 65px;
    font-family: gilroy-bold;
    letter-spacing: -1.95px;
    line-height: 58px;
}

.fst-line2, .mm-line2, .s-line2 {
    font-family: Gilroy-Bold;
    color:rgb(248, 248, 248);
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    margin-top: 26px;
}

.fst-line3, .mm-line3, div.s-line3 {
    color:rgb(248, 248, 248);
    font-family: Gilroy-Regular;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 20px;
    white-space: pre-line;
    max-width: 630px;
    margin-bottom: 40px;
}

.button-explore-rewards, .button-mm, .button-s, .button-app-store, .button-download-CRED {
    background-color: rgb(248, 248, 248);
    border: none;
    color: rgb(8, 8, 8);
    text-align: center;
    text-decoration: none;
    font-family: Gilroy-Bold;
    border-radius: 40px;
    align-self: flex-start;
    

    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 16px 24px;
}

.brands-you-love-section {
    flex-direction: column;
    justify-content: center;

    padding: 60px 40px;
    background-color: rgb(248, 248, 248);
    color: rgb(33, 36, 38);
    /* width: 100vw; */
    position: relative;
}

.brands-you-love-text {
    /* font-family: Gilroy-SemiBold;
    font-size: 24px;
    margin-bottom: 64px; */

    font-size: 18px;
    font-family: Gilroy-Bold;
    letter-spacing: -0.11px;
    line-height: 18px;
    opacity: 0.9;
    white-space: pre-line;
}

.brands-you-love-image {
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/brands-mobile.png);
    background-size: contain;
    height: 240px;
    margin-top: 35px;
    background-position: left center;
    background-repeat: no-repeat;
    /* width: 100%; */
}

/********************
*********************
Money matters section
*********************
********************/

.money-matters-section {
    background-image: url(/images/money-matters-bg-mobile.webp);
    background-size: cover;
    flex-direction: column;
    padding: 195px 40px 90px;
    background-position: right center;
    min-height: 1350px;
    justify-content: flex-end;
}

.money-matters-text-container, .security-container {
    flex-direction: column;
}

.mm-line3 {
    margin-top: 75px;
    margin-bottom: 40px;
}

/********************
*********************
Mobile mockup section
*********************
********************/

.mobile-mockup {
    background-image: url(/images/hero-bg-mobile.webp);
    padding: 70px 40px;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobile-mockup-content-block {
    flex-direction: column;
}

.mobile-mockup-text1 {
    font-family: Gilroy-Bold;
    font-size: 50px;
    color:rgb(248, 248, 248);
    margin-top: 85px;
    margin-bottom: 60px;
    letter-spacing: -1.5px;
    line-height: 50px;
}

.mobile-mockup-image {
    width: 300px;
    height: 510px;
    position: relative;
    top: 0px;

    box-shadow: rgb(250 250 255 / 16%) 0px -5px 6px 0px inset, rgb(38 37 37 / 24%) 4px 6px 11px 1px inset;
    border-radius: 46px;
    padding: 16px 14px;
}

.mobile-mockup-text2 {
    font-size: 14px;
    font-family: Gilroy-Regular;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-top: 55px;
    color:rgb(248, 248, 248);
    white-space: pre-line;
    max-width: 600px;
}

/********************
*********************
Mobile Parallax Part
*********************
********************/

.mockup-parallax {
    display: none;
    min-height: 80vh;
    background-image: url(/images/neopop-image-mock.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/********************
*********************
   Security section
*********************
********************/

.security-section {
    background-image: url(/images/security-bg-mobile.webp);
}

.security-text-container, .security-text-button-container {
    flex-direction: column;
}

/********************
*********************
  Trust CRED section
*********************
********************/

.trust-section {
    background-image: url(/images/trust-bg-mobile.webp);
    padding: 70px 40px;
    min-height: 100vh;
}

.trust-main-text {
    font-size: 55px;
}

.trust-side-text {
    flex-direction: column;
    font-family: Gilroy-Medium;
    color:rgb(248, 248, 248);
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}

.trust-side-text-div {
    margin-top: 20px;
}

/********************
*********************
  App review section
*********************
********************/

.app-store-section {
    background-image: url(/images/hero-bg-mobile.webp);
    padding: 70px 40px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    color:rgb(248, 248, 248);
    min-height: 100vh;
}

.app-store-container {
    flex-direction: column;
}

.top-container {
    flex-direction: column;
}

.left-container, .right-container {
    flex-direction: column;
    align-items: flex-start;
}

.content {
    flex-direction: column;
    white-space: pre-line;
}

.left-text-container, .right-text-container {
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.rating-placeholder {
    padding-bottom: 70px;
}

#app-store-rating {
    font-family: Gilroy-Bold;
    font-size: 90px;
    padding-right: 16px;
    opacity: 0.9;
}

#app-store-text {
    font-family: Gilroy-Bold;
    font-size: 31px;
    padding-left: 16px;
    opacity: 0.9;
    text-align: left;
    line-height: 32px;
}

.rating-ios {
    width: 115px;
    height: 18px;
}

.button-app-store {
    display: none;
}

/********************
*********************
    About section
*********************
********************/

.about-section {
    padding: 30px;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    color:rgb(255, 255, 255);
}

.body-text, .special-about-content {
    font-family: Gilroy-Regular;
    font-size: 12px;
    opacity: 0.7;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.head-text {
    font-family: Gilroy-Bold;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
    opacity: 0.9;
}

.about-content {
    flex-direction: column;
    margin-bottom: 70px;
}

hr {
    opacity: 0.5;
}

.special-about-content {
    margin-top: 60px;
}

/********************
*********************
    Footer section
*********************
********************/

.footer-section {
    background-color: rgb(22, 21, 23);
    padding: 70px 30px;
    color:rgb(248, 248, 248);
}

.footer-container {
    flex-direction: column;
}

.footer-top-container {
    flex-direction: column;
}

.footer-top-left-container {
    flex-direction: column;
    flex: 1;
    margin-right: 50px;
}

.cred-logo-placeholder img {
    width: 70px;
}

.security-logo-placeholder {
    margin: 50px 0 20px;
}

.security-logo-placeholder img {
    width: 250px;
}

.cred-encryption-text {
    flex-direction: column;
}

.cred-guarantee-text {
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 16px;
}

.cred-guarantee-body {
    font-size: 12px;
    margin-bottom: 50px;
}

.contain-footer-elements {
    flex-direction: column;
    margin-bottom: 75px;
    flex: 1;
}

.footer-top-center-container, .footer-top-right-container {
    /* flex-direction: column; */
    font-size: 20px;
    flex: 1;
    flex-direction: column;
}

.footer-body-text {
    margin-bottom: 0;
    line-height: 40px;
}

.footer-top-center-container-1, .footer-top-center-container-2,
.footer-top-right-container-1, .footer-top-right-container-2 {
    flex-direction: column;
    padding-right: 100px;
    margin-bottom: 30px;
    /* margin-right: 100px; */
    flex: 1;
}

.footer-bottom-container {
    flex-direction: column;
}

.footer-bottom-left-container {
    flex: 1;
}

.footer-bottom-right-container {
    flex: 1;
}

.copyright-text {
    font-size: 12px;
    letter-spacing: normal;
    opacity: 0.5;
    margin: 30px 0;
}

/********************
*********************
    Media queries
*********************
********************/

@media screen and (min-width: 481px) and 
(max-width: 767px) {

}

@media screen and (min-width: 768px) and 
(max-width: 768px) {

}