@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header-section {
    padding: 60px;
}

.hero-text {
    font-size: 65px;
    font-family: gilroy-bold;
    letter-spacing: -1.65px;
    line-height: 55px;
    /* text-align: left; */
    width: 340px;
}

.hero-sub-text {
    font-size: 19px;
    font-family: gilroy-semibold;
    letter-spacing: 0px;
    line-height: 24px;
    width: 320px;
}

.button-download-CRED {
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 16px 28px;
    margin-top: 35px;
}

/* New working animation */
.animation-section {
    background-image: url(/images/video-bg.webp);
    background-size: cover;
    height: 580px;
    position: relative;
    overflow: hidden;
    max-width: 100vw;
}

.anime {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -543px;
    opacity: 0;

    width: 270px;
}

@keyframes animate-left-image-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-160%, -75%);
    }
}

@keyframes animate-right-image-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(60%, -75%);
    }
}

@keyframes animate-left-image-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-105%, -85%);
    }
}

@keyframes animate-right-image-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(5%, -85%);
    }
}

@keyframes animate-center-image {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -95%);
    }
}

/***********************
************************
**Feel special section**
************************
***********************/

.feel-special-section {
    background-position: center center;
    padding: 195px 60px 90px;
}

.fst-line1 {
    font-size: 85px;
    line-height: 75px;
    max-width: 80%;
    letter-spacing: -3.15px;
}

.fst-line2 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 16px;
    letter-spacing: -0.2px;
}

.fst-line3 {
    font-size: 16px;
    line-height: 22px;
}

.button-explore-rewards {
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 16px 28px;
}

/************************
*************************
*Brands you love section*
*************************
************************/

.brands-you-love-section {
    padding: 60px;
}

.brands-you-love-text {
    font-size: 22px;
    letter-spacing: -0.11px;
    line-height: 18px;
    opacity: 0.9;
}

.brands-you-love-image {
    height: 240px;
    background-position: left center;
}

/************************
*************************
**Money matters section**
*************************
************************/

.money-matters-section {
    background-position: center center;
    padding: 195px 60px 90px;
    min-height: 1280px;
    justify-content: flex-end;
}

.mm-line1 {
    font-size: 85px;
    line-height: 75px;
    max-width: 80%;
    letter-spacing: -3.15px;
}

.mm-line2 {
    font-size: 24px;
    line-height: 34px;
    margin-top: 16px;
    letter-spacing: -0.2px;
}

.mm-line3 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-top: 75px;
    white-space: unset;
}

.button-mm {
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 16px 28px;
}

/************************
*************************
**Mobile mockup section**
*************************
************************/

.mobile-mockup {
    padding: 60px;
}

.mobile-mockup-text1 {
    font-size: 56px;
    line-height: 54px;
    letter-spacing: -1.5px;
    margin-bottom: 60px;
    margin-top: 85px;
    opacity: 0.9;
    min-width: 60%;
    white-space: pre-line;
}

.mobile-mockup-text2 {
    font-size: 16px;
    line-height: 22px;
    max-width: 80%;
}

/************************
*************************
*Mockup parallax section*
*************************
************************/

.mockup-parallax {
    display: block;
    min-height: 50vh;
}

/************************
*************************
*****Security section****
*************************
************************/

.security-section {
    background-position: center center;
    padding: 195px 60px 90px;
}

.s-line1 {
    font-size: 85px;
    line-height: 75px;
    max-width: 80%;
}

.s-line2 {
    font-size: 24px;
    line-height: 34px;
}

.s-line3 {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
}

.button-s {
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 18px;
    padding: 16px 28px;
}

/************************
*************************
*******Trust section*****
*************************
************************/

.trust-section {
    padding: 60px;
}

.trust-main-text {
    font-size: 65px;
    line-height: 55px;
    letter-spacing: -1.65px;
    width: 100%;
    white-space: unset;
}

.trust-side-text-div {
    font-size: 18px;
    font-family: Gilroy-Regular;
    letter-spacing: 0px;
    line-height: 28px;
    margin-top: 20px;
    max-width: 550px;
}

/************************
*************************
****App store section****
*************************
************************/

.app-store-section {
    padding: 100px 60px;
}

#app-store-rating {
    font-size: 120px;
}

.content {
    white-space: unset;
}

#app-store-text {
    white-space: pre-line;
    font-size: 42px;
    line-height: 40px;
}

.rating-placeholder {
    padding-bottom: 70px;
}

.rating-ios {
    width: 150px;
    height: 23px;
}

/************************
*************************
*******About section*****
*************************
************************/

.about-section {
    padding: 30px 60px;
}

/************************
*************************
*******Footer section****
*************************
************************/

.footer-section {
    padding: 100px 60px;
}

.cred-logo-img {
    width: 168px;
}

.security-logo-img {
    width: 290px;
    margin-top: 70px;
    margin-bottom: 25px;
}

.footer-top-center-container, .footer-top-right-container {
    flex-direction: row;
    justify-content: space-between;
}

.footer-top-center-container-1, .footer-top-right-container-1 {
    padding-right: 0;
    margin-right: 150px;
}

.footer-top-center-container .head-text, .footer-top-right-container .head-text {
    line-height: 32px;
    margin-bottom: 0;
}

.collapsible {
    border: none;
}

.footer-top-center-container-1, .footer-top-center-container-2,
.footer-top-right-container-1, .footer-top-right-container-2 {
    border: none;
    margin-bottom: 30px;
}

.collapsed-text {
    display: block;
}

.footer-text-margin {
    padding-left: 0px;
}

.expand-icon {
    display: none;
}

.copyright-text {
    line-height: normal;
}

.footer-bottom-right-container {
    line-height: 22px;
}
