@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('/fonts/gilroy/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('/fonts/gilroy/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.flex-container {
    display: flex;
}

/***********************
************************
*****Header section*****
************************
***********************/

.header-section {
    padding: 60px 200px 200px;
    min-height: 100vh;
}

.fixed-navbar img {
    width: 49px;
    height: 66px;
}

.fixed-navbar-links {
    display: block;
}

.navbar-btn {
    display: none;
}

.hero-container {
    align-items: center;
}

.hero-text {
    text-align: center;
    margin-top: 100px;
    font-size: 106px;
    line-height: 125px;
    letter-spacing: -3px;
    width: unset;
}

.hero-sub-text {
    font-family: Gilroy-Bold;
    font-size: 30px;
    width: unset;
    line-height: 38px;
    letter-spacing: -0.2px;
}

.button-download-CRED {
    padding: 20px 65px;
    font-size: 24px;
    font-family: Gilroy-Bold;
    letter-spacing: 0.4px;
    line-height: 30px;
    margin: 58px auto 0;
}

/****************************
****New animation section****
****************************/

.animation-section {
    height: 800px;
    background-image: url(/images/video-bg.webp);
    background-position: right;
}

.anime {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -800px;
    opacity: 0;

    width: unset;
}


/****************************
*****Feel Special Section****
****************************/

.feel-special-section {
    justify-content: center;
    background-image: url("../images/deserve-more-bg.webp");
    background-position: initial;
    background-size: cover;
    min-height: 100vh;
    padding: 240px 200px 180px;
    justify-content: space-between;
  
}

.feel-special-text-container {
    flex-direction: column;
}

.fst-line1 {
    font-size: 100px;
    line-height: 96px;
    white-space: pre-line;
    letter-spacing: -3.15px;
}

.fst-line2 {
    font-family: Gilroy-Bold;
    font-size: 32px;
    color:rgb(248, 248, 248);
    margin-top: 16px;
    line-height: 38px;

    max-width: 630px;
    letter-spacing: -0.2px;
}

.fst-line3 {
    font-family: Gilroy-Semibold;
    font-size: 18px;
    color:rgb(248, 248, 248);
    margin-top: 0;
    margin-bottom: 40px;
    max-width: 630px;
    letter-spacing: -0.2px;
    line-height: 150%;
    white-space: unset;
}

.button-explore-rewards, .button-mm, .button-s, .button-app-store {
    background-color: rgb(248, 248, 248);
    border: none;
    color: rgb(8, 8, 8);
    text-align: center;
    text-decoration: none;
    font-family: Gilroy-Bold;
    font-size: 24px;
    border-radius: 40px;
    padding: 20px 65px;
    align-self: flex-start;
}

/****************************
***Brands you love section***
****************************/
.brands-you-love-section {
    color:rgb(248, 248, 248);
    padding: 60px 200px;
    flex-direction: column;
    justify-content: center;
}

.brands-you-love-text {
    font-family: Gilroy-SemiBold;
    font-size: 24px;
    color: #212426;
    margin-bottom: 0;
    opacity: 1;
    line-height: 38px;
}

.brands-you-love-image {
    height: 50px;
    width: 100%;
    background-image: url(/images/brands-desktop.png);
    background-size: contain;
    margin-top: 50px;
}

/****************************
****Money Matters Section****
****************************/
.money-matters-section {
    background-image: url(/images/money-matters-bg.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: initial;
    background-size: cover;
    justify-content: space-between;
    flex-direction: column;
    padding: 240px 200px 180px;
}

.money-matters-text-container, .security-container {
    flex-direction: column;
}

.mm-line1 {
    font-family: Gilroy-Bold;
    font-size: 100px;
    color:rgb(248, 248, 248);
    opacity: 0.9;
    letter-spacing: -3.15px;
    line-height: 90%;
    margin-top: 0;
}

.mm-line2 {
    font-family: Gilroy-Bold;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.2px;
    color:rgb(248, 248, 248);
    margin: 16px 0 0;   

    max-width: 630px;
}

.mm-line3 {
    font-family: Gilroy-Semibold;
    font-size: 18px;
    color:rgb(248, 248, 248);
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 150%;

    white-space: unset;
}

/****************************
******Parallax section*******
****************************/

.mockup-parallax {
    min-height: 50vh;
    background-image: url(/images/neopop-image-mock.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}


/****************************
******Security Section*******
****************************/

.security-section {
    min-height: 100vh;
    width: 100%;
    background-position: initial;
    background-size: cover;
    justify-content: space-between;
    flex-direction: column;
    background-image: url(/images/security-bg.webp);
    padding: 240px 200px 180px;
}

.security-text-container {
    flex-direction: column;
}

.s-line1 {
    font-family: Gilroy-Bold;
    font-size: 100px;
    color:rgb(248, 248, 248);
    opacity: 0.9;
    letter-spacing: -3.15px;
    line-height: 90%;
    margin-top: 0;
    margin-bottom: 16px;
    white-space: pre-line;
}

.s-line2 {
    font-family: Gilroy-Bold;
    font-size: 32px;
    color:rgb(248, 248, 248);
    margin: 0;   

    line-height: 38px;
    letter-spacing: -0.2px;
}

.s-line3 {
    font-family: Gilroy-Semibold;
    font-size: 18px;
    color:rgb(248, 248, 248);
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 150%;

    white-space: unset;
}

/****************************
******Security Section*******
****************************/

.trust-section {
    background-image: url(/images/trust-bg.jpg);
    background-position: initial;
    background-size: cover;
    min-height: 100vh;
    padding: 240px 200px 250px;
    flex-direction: row;
}

.trust-main-text {
    font-family: Gilroy-Bold;
    font-size: 60px;
    line-height: 64px;
    color:rgb(248, 248, 248);
    opacity: 0.9;
    flex: 1;
    align-self: flex-end;
    padding-right: 0;
    padding-bottom: 0;

    letter-spacing: -1.15px;
}

.trust-side-text {
    font-family: Gilroy-Regular;
    font-size: 18px;
    color:rgb(248, 248, 248);
    flex: 1;
    align-self: flex-end;
    line-height: 28px;

    margin-left: 30px;
}


/****************************
******App Store Section******
****************************/

.app-store-section {
    background-image: url(/images/hero-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding: 200px;
    flex-direction: column;
    justify-content: center;
}

.app-store-container {
    flex-direction: column;
}

.top-container {
    margin-bottom: 32px;
    justify-content: center;
    flex-direction: row;
}

.left-text-container, .right-text-container {
    margin-top: 0;
}

.left-container, .right-container {
    flex-direction: column;
}

.left-container {
    padding: 0 75px 0 0;
}

.right-container {
    padding: 0 0 0 75px;
}

.content {
    padding-bottom: 48px;
}

.left-text-container {
    justify-content: center;
    align-items: last baseline;
}

#app-store-rating {
    font-family: Gilroy-Bold;
    font-size: 160px;
    color:rgb(248, 248, 248);
    opacity: 0.9;
    white-space: unset;
    line-height: 120px;
}

#app-store-text {
    font-family: Gilroy-Bold;
    font-size: 60px;
    color:rgb(248, 248, 248);
    opacity: 0.9;
    line-height: 55px;
}

.rating-placeholder {
    padding-bottom: 0;
}

.rating-ios {
    padding-left: 0;
    margin-bottom: 48px;

    width: 179px;
    height: 28px;
}

.placeholder-button-app-store {
    padding-left: 0;
}

.button-app-store {
    align-items: center;
    padding: 18px 40px;

    width: 310px;
}

.button-app-store img {
    width: 44px;
}

.button-app-store p {
    padding-left: 8px;
    font-size: 20px;
    line-height: 18px;
}

.slideshow-container {
    height: 200px;
    width: 900px;
    margin: 60px auto 0px;
}

.mySlides {
    padding: 16px;
}

.quote {
    font-size: 18px;
    padding-bottom: 32px;
}

/****************************
********About Section********
****************************/

.about-section {
    padding: 100px 200px;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    color:rgb(255, 255, 255);
}

.body-text, .special-about-content {
    font-family: Gilroy-Regular;
    font-size: 18px;
    opacity: 0.7;
    letter-spacing: 0.75px;
    line-height: 33px;
    margin-bottom: 0;
}

.head-text {
    font-family: Gilroy-Bold;
    font-size: 18px;
    letter-spacing: 0.75px;
    margin-bottom: 24px;
}

.about-content {
    flex-direction: column;
}

hr {
    opacity: 0.5;
}

.special-about-content {
    margin-top: 60px;
    font-size: 18px;
}

.special-about-content a {
    font-size: 18px;
    letter-spacing: 0.75px;
    line-height: 34px;
    margin-bottom: 20px;
    padding: 0px 12px;
}

/****************************
********Footer Section*******
****************************/

.footer-section {
    background-color: rgb(22, 21, 23);
    padding: 100px 200px;
    color:rgb(248, 248, 248);
}

.footer-top-container {
    flex-direction: row;
    /* flex: 1; */
}

.footer-top-left-container {
    flex-direction: column;
    flex: 1;
}

.cred-logo-img{
    width: 168px;
}

.security-logo-img {
    margin-top: 100px;
    margin-bottom: 40px;
    width: 405px;
}

.cred-encryption-text {
    flex-direction: column;
}

.cred-guarantee-text {
    font-size: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 24px;
    padding-top: 0;
}

.contain-footer-elements {
    flex-direction: column;
    margin-bottom: 75px;
    flex: 1;
}

.footer-top-center-container, .footer-top-right-container {
    flex-direction: row;
}

.footer-top-center-container-1, .footer-top-right-container-1,
.footer-top-center-container-2, .footer-top-right-container-2 {
    padding-right: 0;
}

.footer-top-center-container-1, .footer-top-right-container-1 {
    margin-right: 150px;
}

.footer-body-text {
    margin-bottom: 0;
    line-height: 40px;
}

.footer-bottom-container {
    flex-direction: row;
    align-items: first baseline;
}

.footer-bottom-left-container {
    flex: 1;
}

.footer-bottom-right-container {
    flex: 1;
}

.collapsible {
    border: none;
    padding: 0;
    margin: 0;
}

.expand-icon {
    display: none;
}

.footer-top-right-container-2 {
    border: none;
}

.collapsed-text {
    display: block;
}

.footer-text-margin {
    padding-left: 0;
    margin-bottom: 10px;
    
    font-size: 18px;
    letter-spacing: 0.75px;
    line-height: 33px;
}

.copyright-text {
    font-size: 16px;
    letter-spacing: normal;
    opacity: 0.5;
}

/**************************
***************************
Media query for beyond 1630
***************************
**************************/

@media screen and (min-width: 1631px) and (max-width: 2400px) {
    .hero-text {
        font-family: Gilroy-Bold;
        font-size: 150px;
        letter-spacing: -4.5px;
        line-height: 150px;
        text-align: center;
        margin-top: 100px;
    }

    .fst-line1 {
        font-size: 100px;
        font-family: gilroy-bold;
        letter-spacing: -3.15px;
        line-height: 96px;
        white-space: pre-line;
        opacity: 0.9;
    }
}